<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>customproducttext</name>
	<displayName><![CDATA[Custom text for your products]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[The module lets you to create a custom text on the product page]]></description>
	<author><![CDATA[DAMIANO BERTUNA]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
